
body {
    background-color:lightgray;
    color:black; 
    padding: 20px;
    font-size: 16pt;
}
header {
    z-index: 3;
    position: fixed;
    top:0;
    background: linear-gradient(to right bottom, black,red,green,yellow);
    color:lightgray; 
    padding:20px;
    font-size: 16pt;
    width:100%;
    left:0;   
}


header:hover {
    font-weight: bold;
    text-shadow: 5px 5px 2px gray;
    transition: 600ms 0.3s;
}
footer {
    z-index: 1;
    background-color:black;
    color:lightgray; 
    padding:20px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom:0;
    width:97%;
}
footer:hover {
    font-weight: bold;
    text-shadow: 5px 5px 2px gray;
    transition: 600ms 0.3s;
    text-align: right;
}
a {
    transition: 600ms 1s;
}
a:visited {
    color:black;
    background-color:red;
}
a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 600ms 0.1s;
    text-shadow: 5px 5px 2px gray;
}
a:active {
    color:pink;
    background-color: green;
}
 
.main {
    top:25px;
    margin:20px;
    border:1px solid;
    border-radius: 7px;
    padding: 7px;
    width: 500px;
    height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(#ccf,#ddf);
    z-index: 2;
    margin-left: 320px;
}


.second {
    z-index: 1;
    left: 580px;
    top: 100px;
    position: fixed;
    border:1px solid;
    border-radius: 7px;
    padding: 7px;
    width: 500px;
    height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(#ccf,#ddf);
}

.second:hover {
    z-index: 3;
    left: 580px;
    top: 100px;
    position: fixed;
}

aside {
    z-index: 2;
    position: absolute;
    top: 75px;
    left: 0;
    width: 300px;
    background: bisque;
    height:100%;
    overflow:auto;
}

aside div {
    color:black;
    padding:10px;
    text-align: justify;
    text-indent:20px;
}

.comix {
    position:fixed;
    left: 950px;
    top: 500px;
    z-index: 3;
}

.text1 {
    z-index: 4;
    position:fixed;
    border:1px;
    border-radius: 50%;
    border-color: black;
    left:1099px;
    top: 600px;
    background: white;
    padding:2px;
    color:white;
    font-size: 12px;
    opacity: 0;
}

.text2 {
    z-index: 4;
    position:fixed;
    left: 1067px;
    top: 577px;
    border:1px;
    border-radius: 50%;
    border-color: black;
    background: white;
    padding:8px;
    color:white;
    font-size: 8px;
    opacity: 0;
}

.text3 {
    z-index: 4;
    position:fixed;
    left: 1020px;
    top: 540px;
    border:1px;
    border-radius: 50%;
    border-color: black;
    background: white;
    padding:15px;
    color:white;
    font-size: 8px;
    opacity: 0;
}

.text4 {
    z-index: 4;
    position:fixed;
    left: 895px;
    top: 475px;
    position:fixed;
    border:1px;
    border-radius: 80%;
    border-color: black;
    background: white;
    padding:30px;
    color:black;
    font-size: 16px;
    opacity: 0;
}

.comix:hover + .text1 {
    z-index: 4;
    position:fixed;
    border:1px;
    border-radius: 50%;
    border-color: black;
    left:1099px;
    top: 600px;
    background: white;
    padding:2px;
    color:white;
    font-size: 12px;
    opacity: 1;
    transition: 600ms 1s;
}

.comix:hover + .text1 + .text2 {
    z-index: 4;
    position:fixed;
    left: 1067px;
    top: 577px;
    border:1px;
    border-radius: 50%;
    border-color: black;
    background: white;
    padding:8px;
    color:white;
    font-size: 8px;
    opacity: 1;
    transition: 600ms 2s;
}

.comix:hover + .text1 + .text2 + .text3 {
    z-index: 4;
    position:fixed;
    left: 1020px;
    top: 540px;
    border:1px;
    border-radius: 50%;
    border-color: black;
    background: white;
    padding:15px;
    color:white;
    font-size: 8px;
    opacity: 1;
    transition: 600ms 3s;
}

.comix:hover + .text1 + .text2 + .text3 + .text4 {
    z-index: 4;
    position:fixed;
    left: 895px;
    top: 475px;
    position:fixed;
    border:1px;
    border-radius: 80%;
    border-color: black;
    background: white;
    padding:30px;
    color:black;
    font-size: 16px;
    opacity: 1;
    transition: 600ms 4s;
}