
body {
    background-color:lightgray;
    color:black; 
    padding: 20px;
    font-size: 16pt;
}
header {
    z-index: 3;
    position: fixed;
    top:0;
    background: linear-gradient(to right bottom, black,red,green,yellow);
    color:lightgray; 
    padding:20px;
    font-size: 16pt;
    width:100%;
    left:0;   
}


header:hover {
    font-weight: bold;
    text-shadow: 5px 5px 2px gray;
    transition: 600ms 0.3s;
}
footer {
    z-index: 1;
    background-color:black;
    color:lightgray; 
    padding:20px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
footer:hover {
    font-weight: bold;
    text-shadow: 5px 5px 2px gray;
    transition: 600ms 0.3s;
    text-align: right;
}
a {
    transition: 600ms 1s;
}
a:visited {
    color:black;
    background-color:red;
}
a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 600ms 0.1s;
    text-shadow: 5px 5px 2px gray;
}
a:active {
    color:pink;
    background-color: green;
}
 



