body {
    background-color:lightgray;
    color:black; 
    padding: 20px;
    font-size: 16pt;
}
header {
    background: linear-gradient(to right bottom, black,red,green,yellow);
    color:lightgray; 
    padding: 
    20px;font-size: 16pt;
}
footer {
    background-color:black;
    color:lightgray; 
    padding: 
    20px;font-size: 16pt;}
a:visited {
    color:black;
    background-color:red;
}
a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold
}
a:active {
    color:pink;
    background-color: green;
}
